<h2 class="mt-5 mb-4">Transactions</h2>
<div class="w-100">
  <% if transactions.empty? %>
    <div class="border rounded shadow w-100 d-flex p-3 mb-2 bg-white justify-content-center"
     style="height: 50px;"><p style="font-size:1rem;">No transactions</p></div>
  <% else %>
    <% transactions.each do |transaction|%>
      <div class="border rounded shadow w-100 d-flex p-3 mb-2 bg-white justify-content-between"
      style="height: 50px;">
          <div class="w-25">
            <span class="text-nowrap">
              <p style="font-size:1rem;"><strong>Description: </strong><%= transaction.description %></p>
            </span>
          </div>
          <div class="w-25 d-flex justify-content-end ml-5">
            <p style="font-size:1rem;"><strong>Date: </strong><%= transaction.completed_on.strftime("%d/%m/%Y") %></p>
          </div>
          <div class="w-25 d-flex justify-content-end">
            <p style="font-size:1rem;"><strong>Amount: </strong>
              <%= combineCurrencyAmount(@account.currency, transaction.amount, "Transaction Amount")%></p>
          </div>
          <% if render_edit_delete_buttons %>
            <div class = 'btn-group', style = "margin-top:-11px">
              <%= button_to "Edit", "/admin_dash/edit/transaction/#{transaction.id}", :method => "get", :class => "btn btn-secondary ml-5"%>
              <%= button_to "Delete", "/admin_dash/delete/transaction/#{transaction.id}", :method => "delete", :class => "btn btn-primary ml-2 " %>
            </div>
          <% end %>
      </div>
    <% end %>
  <% end %>
</div>
