<div class="container d-flex flex-column align-items-center py-5">

    <%= render 'components/header' %>
    
    <!-- Render the user selected -->
    <%= render :partial => 'components/current_user', :locals => {:user => @user} %>

    <!-- Render current account -->
    <%= render :partial => 'components/current_account', :locals => {:account => @account} %>

    <!-- Render transactions with buttons -->
    <%= render :partial => 'components/transactions', :locals => {
                                                                    :transactions => @transactions,
                                                                    :account => @account,
                                                                    :render_edit_delete_buttons => true
                                                                  } %>

    <div class="d-flex justify-content-between p-3 mb-2 w-50">
      <%= button_to "Back", "/admin_dash/user/#{@user.id}", :method => "get", :class => "btn btn-primary mt-4" %>
      <%= button_to "Create Transaction", "/admin_dash/create/transaction/#{@account.id}", :method => "get", :class => "btn btn-primary mt-4" %>
      <%= button_to "Generate Transactions", "/admin_dash/account/#{@account.id}", :method => "post", :class => "btn btn-primary mt-4" %>
    </div>


</div>
