<div class="container d-flex flex-column align-items-center py-5">
    <%= render 'components/header' %>
    <h2 class="mt-5 mb-4">User</h2>

    <div class="border shadow w-100 d-flex p-3 mb-2 bg-white rounded
        d-flex justify-content-between" style="height: 50px;">
      <p style="font-size:1rem;"><strong>Email: </strong><%=@user.email%></p>
      <p style="font-size:1rem;"><strong>Number of accounts: </strong><%= @accounts.length %></p>
    </div>

    <h2 class="mt-5 mb-4">Account</h2>

    <div class="border shadow w-100 d-flex p-3 mb-2 bg-white rounded
        d-flex justify-content-between" style="height: 50px;">
      <p style="font-size:1rem;"><strong>Account name: </strong><%=@account.name%></p>
      <p style="font-size:1rem;"><strong>Balance: </strong><%= combineCurrencyBalance(@account.balance, @account.currency) %></p>
    </div>

    <h2 class="mt-5 mb-4">Transactions</h2>

    <% @transactions.each do |transaction|%>
        <div class="border rounded shadow w-100 d-flex p-3 mb-2 bg-white
            d-flex justify-content-between" style="height: 50px;">
          <div class="w-25">
            <p style="font-size:1rem;"><strong>Description: </strong><%= transaction.description %></p>
          </div>
          <div class="w-50 d-flex justify-content-center">
            <p style="font-size:1rem;"><strong>Date: </strong><%= transaction.completed_on.strftime("%d/%m/%Y") %></p>
          </div>
          <div class="w-25 d-flex justify-content-end">
            <div class="w-50">
              <p style="font-size:1rem;"><strong>Amount: </strong><%= combineCurrencyAmount(transaction.amount, @account.currency)%></p>
            </div>
          </div>
        </div>
    <% end %>

    <div class="d-flex justify-content-between p-3 mb-2 w-50">
      <%= button_to "Back", "/admin_dash/user/#{@user.id}", :method => "get", :class => "btn btn-primary mt-4" %>
      <%= button_to "Create Transaction", "/admin_dash/create/transaction/#{@account.id}", :method => "get", :class => "btn btn-primary mt-4" %>
      <%= button_to "Generate Transactions", "/admin_dash/account/#{@account.id}", :method => "post", :class => "btn btn-primary mt-4" %>
    </div>


</div>
