<div class="container d-flex flex-column align-items-center py-5">
    <%= render 'components/header' %>

    <!-- Render the user selected -->
    <%= render :partial => 'components/current_user', :locals => {:user => @user} %>

    <!-- Render Accounts without buttons -->
    <%= render :partial => 'components/accounts', :locals => {
                                                                :accounts => @accounts,
                                                                :page_to_be_loaded => "/admin_dash/account/",
                                                                :render_edit_delete_buttons => false
                                                             } %>

    <h2 class="mt-5 mb-4">Create Account</h2>
    <div class="border shadow w-100 d-flex flex-column p-3 mb-2 bg-white rounded form_card">
      <%=  form_for(@account, :url => "/admin_dash/create/account_post/#{@user.id}", :method => 'post') do |f| %>
        <!-- account input fields -->
        <%= render :partial => 'components/account_form_body', :locals => {
                                                                            :f => f,
                                                                            :value_given => "Create Account",
                                                                          } %>
      <% end %>
      <br>
      <p id="alert" style="color: red"><%= alert %></p>
    </div>
  <div>
    <%= button_to 'Cancel', "/admin_dash/user/#{@user.id}", :class => "btn btn-primary mt-4", :method => :get %>
  </div>
</div>
