<div class="container d-flex flex-column align-items-center py-5">
    <%= render 'components/header' %>
    <h2 class="mt-5 mb-4">User</h2>

    <div class="border shadow w-100 d-flex p-3 mb-2 bg-white rounded
        d-flex justify-content-between" style="height: 50px;">
      <p style="font-size:1rem;"><strong>Email: </strong><%=@user.email%></p>
      <p style="font-size:1rem;"><strong>Number of accounts: </strong><%= @user.accounts.length %></p>
    </div>

    <h2 class="mt-5 mb-4">Accounts</h2>

    <% @accounts.each do |account|%>
        <div class="border rounded shadow w-100 d-flex p-3 mb-2 bg-white
            d-flex justify-content-between" style="height: 50px;" type="button" onclick="window.location.href='/admin_dash/account/<%= account.id %>'"">
          <p style="font-size:1rem;"><strong>Account name: </strong><%= account.name %></p>
          <p style="font-size:1rem;"><strong>Balance: </strong><%= combineCurrencyBalance(account.balance, account.currency)%></p>
        </div>
    <% end %>

    <h2 class="mt-5 mb-4">Create Account</h2>
    <div class="border shadow w-100 d-flex flex-column p-3 mb-2 bg-white rounded form_card">
      <%=  form_for(@account, :url => "/admin_dash/create/account_post/#{@user.id}", :method => 'post') do |f| %>
        <div>
          <label for="name" class="control-label">Account name</label>
        </div>
        <%= f.text_field(:name, class: "form-control") %>
        <br/>
        <div>
          <label for="name" class="control-label">Currency</label>
        </div>
        <%= f.select(:currency, [['€', '€'], ['£', '£'], ['$', '$']], class: "control-label") %>
        <div class="d-flex justify-content-center mt-4">
            <input name="commit" type="submit" value="Create account" class="btn btn-primary" />
        </div>
      <% end %>
      <br>
      <p id="alert" style="color: red"><%= alert %></p>
    </div>
  <div>
    <%= button_to 'Cancel', "/admin_dash/user/#{@user.id}", :class => "btn btn-primary mt-4", :method => :get %>
  </div>
</div>
