<div class="container d-flex flex-column align-items-center py-5">

    <%= render 'components/header' %>

    <!-- Render the user selected -->
    <%= render :partial => 'components/current_user', :locals => {:user => @user} %>

    <!-- Render current account -->
    <%= render :partial => 'components/current_account', :locals => {:account => @account} %>

    <!-- Render transactions with buttons -->
    <%= render :partial => 'components/transactions', :locals => {
                                                                    :transactions => @transactions,
                                                                    :account => @account,
                                                                    :render_edit_delete_buttons => true
                                                                  } %>



    <h2 class="mt-5 mb-4">Create Transaction</h2>
    <div class="border shadow w-100 d-flex flex-column p-3 mb-2 bg-white rounded form_card">
      <%=  form_for(@transaction, :url => "/admin_dash/create/transaction_post/#{@account.id}", :method => 'post') do |f| %>
        <!-- transaction input fields -->
        <%= render :partial => 'components/transaction_form_body', :locals => {:f => f, :value_given => "Create Transaction"} %>
      <% end %>
    </div>
  <div>
    <%= button_to 'Cancel', "/admin_dash/account/#{@account.id}", :class => "btn btn-primary mt-4", :method => :get %>
  </div>
</div>
