<div class="container d-flex flex-column align-items-center py-5">
    <%= render 'components/header' %>

    <h2 class="mt-5 mb-4">Users</h2>
    <% @users.each do |user|%>
        <div class="border shadow w-100 d-flex p-3 mb-2
          bg-white rounded d-flex justify-content-between" style="height: 50px;" onclick="window.location.href='admin_dash/user/<%= user.id %>'">
          <p style="font-size:1rem;"><strong>Email </strong><%=user.email%></p>
          <p style="font-size:1rem;"><strong>Number of accounts: </strong><%= user.accounts.length %></p>
        </div>
    <% end %>

    <h2 class="mt-5 mb-4">Create User</h2>
    <div class="border shadow w-100 d-flex flex-column p-3 mb-2 bg-white rounded form_card mt4">
        <%= render :partial => 'components/user_form_body', :locals => {:f => f, :value_given => "Create User"} %>
        <br>
        <p id="alert" style="color: red"><%= alert %></p>
    </div>
    <div>
    <%= button_to 'Cancel', '/admin_dash', :class => "btn btn-primary mt-4", :method => :get %>
    </div>
</div>
