<div class="container d-flex flex-column align-items-center py-5">
    <%= render 'components/header' %>

    <!-- Render the user selected -->
    <%= render :partial => 'components/current_user', :locals => {:user => @user} %>

    <!-- Render current account -->
    <%= render :partial => 'components/current_account', :locals => {:account => @account} %>

    <h2 class="mt-5 mb-4">Edit Transaction</h2>
    <div class="border shadow w-100 d-flex flex-column p-3 mb-2 bg-white rounded form_card">
      <%=  form_for(@transaction, :url => "/admin_dash/edit/transaction_post/#{@transaction.id}", :method => 'post') do |f| %>
        <!-- transaction input fields -->
        <%= render :partial => 'components/transaction_form_body', :locals => {:f => f, :value_given => "Edit Transaction"} %>
      <% end %>
    </div>
  <div>
    <%= button_to 'Cancel', "/admin_dash/account/#{@account.id}", :class => "btn btn-primary mt-4", :method => :get %>
  </div>
</div>
