<div class="container d-flex flex-column align-items-center py-5">
    <%= render 'components/header' %>
    
    <!-- Render the user selected -->
    <%= render :partial => 'components/current_user', :locals => {:user => @user} %>

    <!-- Render Accounts with buttons -->
    <%= render :partial => 'components/accounts', :locals => {
                                                                :accounts => @accounts,
                                                                :page_to_be_loaded => "/admin_dash/account/",
                                                                :render_edit_delete_buttons => true
                                                             } %>


    <%= button_to "Back", "/admin_dash", :method => "get", :class => "btn btn-primary mt-4" %>
    <%= button_to "Create Account", "/admin_dash/create/account/#{@user.id}", :method => "get", :class => "btn btn-primary mt-4" %>
</div>
