<div class="container d-flex flex-column align-items-center pt-5">
    <%= render 'components/header' %>
    <h2 class="mt-5 mb-4">User</h2>

    <div class="border shadow w-100 d-flex p-3 mb-2 bg-white rounded
        d-flex justify-content-between" style="height: 50px;">
      <p style="font-size:1rem;"><strong>Name: </strong><%=@user.email%></p>
      <p style="font-size:1rem;"><strong>Number of accounts: </strong><%= @accounts.length %></p>
    </div>

    <h2 class="mt-5 mb-4">Accounts</h2>

    <% @accounts.each do |account|%>
        <div class="border rounded shadow w-100 d-flex p-3 mb-2 bg-white
            d-flex justify-content-between" style="height: 50px;">
          <p style="font-size:1rem;"><strong>Account name: </strong><%= account.name %></p>
          <p style="font-size:1rem;"><strong>Balance: </strong><%= combineCurrencyBalance(account.balance, account.currency)%></p>
        </div>
    <% end %>

    <%= button_to "Back", "/admin_dash", :method => "get", :class => "btn btn-primary mt-4" %>
    <%= button_to "Create Account", "/admin_dash/create/account/#{@user.id}", :method => "get", :class => "btn btn-primary mt-4" %>
  

</div>
